---
import "../styles/global.css"
import "../styles/reset.css"

const {BtnText, variant = "yellow"} = Astro.props;
---

<button data-background={variant}>{BtnText}</button>

<style>

[data-background="black"] {
    background: var(--heading-primary-color);
    color: var(--site-bagground-color);
}

[data-background="yellow"] {
    background: var(--heading-color-variant-1);
    color: var(--heading-primary-color);
}

button {
font-family: var(--copy-font);
font-size: var(--font-size-step-1);
font-style: normal;
font-weight: 600;
line-height: var(--lineheight-step-1);

display: inline-flex;
padding: 0.9375rem 2.125rem;
align-items: flex-start;
gap: 0.625rem;
border-radius: 2.625rem;
inline-size: fit-content;
}

</style>