---
const {FeatureText, FeatureCopy} = Astro.props;
import { Icon } from "astro-icon/components";
---

<section>
    <article class="FeatureContent">
      <Icon name="stack"></Icon>
    <h3>{FeatureText}</h3>
    <p>{FeatureCopy}</p>
    <div>
    <p class="readmore">Read More</p>
    <Icon name="arrow"></Icon>
    </div>
    </article>
</section>

<style>
section {
    display: flex;
padding: 2.25rem 1.4375rem;
align-items: flex-start;
gap: 0.625rem;

border-radius: 1.25rem;
border: 1px solid #EAEAEA;

background: #FFF;
}

[data-icon] {
width: 3.29863rem;
height: 3.29863rem;
}

[data-icon="arrow"] {
width: 0.81675rem;
height: 0.66825rem;
}

h3 {
color: #181818;

font-family: var(--headings-font);
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 116%; /* 1.45rem */
}

p {
max-width: 14.125rem;
color: #595566;
font-family: var(--copy-font);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 147.5%; /* 1.475rem */
}

.FeatureContent {
display: flex;
width: 14.125rem;
flex-direction: column;
align-items: flex-start;
gap: 0.625rem;
}

.readmore {
  display: flex;
  align-items: center;
  
color: #181818;
font-family: var(--copy-font);
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 1.8rem */
}

div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

</style>