---
const {NumberInfo, NumberNum} = Astro.props;
---

<dl>
  <div>
    <dt>{NumberInfo}</dt>
    <dd>{NumberNum}</dd>
  </div>
</dl>

<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

dl {
  margin: 3rem;
  text-align: center;
  
  display: flex;
  gap: 3rem;

    font-family: var(--headings-font);
    color: var(--heading-primary-color);
    font-weight: var(--font-weight-step2);
    font-size: var(--font-size-step-3);
    /* font-style: normal;
    line-height: 3.625rem */
  
  > * {
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.125rem;
    color: #181818;
    
    :last-child {
      font-size: 3.125rem;
      font-weight: 500;
    }
  }
  
}
</style>