---
import "../styles/global.css";
import "../styles/reset.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<header>
			<ul>
				<li> <a href="/">About</a></li>
				<li> <a href="/servicesingle/">Service Single</a></li>
				<li> <a href="/team/">Team</a></li>
				<li> <a href="/casestudy/">Case Study Single</a></li>
			</ul>
		</header>
        <main>
			<slot/>
		</main>
        <footer></footer>
	</body>
</html>

<body>

</body>

<style>
	main {
		display: grid;
		grid-template-columns: 
		[full-start] 1fr
		[content-start] minmax(0, 75rem) [content-end]
		1fr [full-end];
		gap: 1rem;

		> * {
			grid-column: content;
		}

		.full {
			grid-column: full;
		}
	}

	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		list-style-type: none;
		/* justify-content: space-between; */
		gap: 4rem;
	}
</style>